body {
  background: #e0e5ec;
}
h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    margin-bottom: 100px;
    font-family: "Cormorant Garamond", serif;
}
.main-container{
display: grid;
grid-template-columns: repeat(2, 1fr);
padding-left: 80px;
}
button {
  margin: 20px;
}
.custom-btn {
  width: 60%;
  height: 350px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-1 {
  background-color: #89d8d3;
background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  border: none;
  z-index: 1;
}
.btn-1:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #4dccc6;
background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-1:hover {
  color: #fff;
}
.btn-1:hover:after {
  top: 0;
  height: 100%;
}
.btn-1:active {
  top: 2px;
}


.btn-2 {
  background-color: #c089d8;
background-image: linear-gradient(315deg, #c889d8 0%, #b654b9 74%);
  border: none;
  z-index: 1;
}
.btn-2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #c089d8;
background-image: linear-gradient(315deg, #c889d8 0%, #b654b9 74%);
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-2:hover {
  color: #fff;
}
.btn-2:hover:after {
  top: 0;
  height: 100%;
}
.btn-2:active {
  top: 2px;
}